{% extends 'base.html.twig' %}

{% block body %}

<h1>Ajouter un film</h1>

<form method="POST">
    <input type="text" name="title" />
    <input type="date" name="releaseDate" />
    <select name="categoryId">
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.label }}</option>
        {% endfor %}
    </select>
    <select name="personId">
        {% for person in persons %}
        <option value="{{ person.id }}">{{ person.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Enregistrer" />
</form>

{% endblock %}
