{% extends 'base.html.twig' %}

{% block body %}

<h1>Ajouter un film</h1>

<form method="POST">
    <input type="text" name="title" />
    <input type="date" name="releaseDate" />
    <input type="submit" value="Enregistrer" />
</form>

{% endblock %}