{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Créer une catégorie 
{% endblock %}

{% block body %}
<h1 class="mt-5">Créer une catégorie</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary" type="submit">Valider</button>
{{ form_end(form) }}

{% endblock %}